.cityname,
.img-small{
    display: block;
}
.img-small{
    width: 30%;
}
.citybox{
    margin-left: 10%;
    padding: 0 20px;
    width: 90%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between;
    border: solid 1px black;
   border-radius: 20px;
   height: 10vh;
   background: hsla(276, 22%, 41%, 0.331);
}
.citybox:hover{
    background:#431c5d;
}
.header{
    margin-left: 15%;
}