<div class="centerMe">
  <ngb-carousel >
    <ng-template ngbSlide *ngFor="let city of cities; let i = index">
      <div class="picsum-img-wrapper">
        <a routerLink="/cities/{{ city.id }}">
          <img src= {{city.image}} alt="Random second slide" class="img-responsive img">
        </a>
      </div>
      <div class="carousel-caption">
        <h3>{{city.city}}</h3>
        <p>Current temp: {{ weathers[i].main.temp}} degrees</p>
      </div>
    </ng-template>
  </ngb-carousel>

</div>